 *{
    margin: 0;
    padding: 0;
 } 

 body{
    background-color: darkkhaki;
 }
 #navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 100%;
    border-right: 5px solid black;
}

  #navbar h1{
   color: White;
   display: flex;
   justify-content:center;
   margin-bottom: 10px;
   font-size: xx-large;
  }

   #nav-link {
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bolder;
  }

  #navbar li{
    padding-bottom: 35px;
    text-decoration: none;
    border-top: 5px solid black;
    list-style: none;
    position: relative;
    width: 100%;
  }

  #navbar a{
    text-decoration: none;
    margin-right: 25px;
    margin-top: 15px;
    font-size: large;
  }

  #main-doc{
    padding: 50px;
    margin-left: 300px;
    top: 0;
  }

  p, article >ul > li{
    font-size: medium;
    padding-bottom: 15px;
    list-style: none;
  }

  #main-doc h2{
    text-align: center;
  }
  @media screen and (max-width: 800px) {
    #navbar {min-width: 200px;}
    #navbar h1{ font-size: large;}
    #main-doc{padding:0px;}
  }
